.rodape {
    margin: 2rem 0;
}

.redes__sociais {
    margin-bottom: 2rem;
}

.redes__sociais ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.redes__sociais a {
    font-size: 20px;
    color: var(--corBotao);
    text-decoration: none;
    transition: color 0.3s ease;
}

.redes__sociais a:hover {
    color: var(--corHeader);
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-column li {
    padding: 0.8rem 0;
}

.footer-column a {
    text-decoration: none;
    color: var(--corHeader);
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: var(--corBotao);
}


.rodape__botao {
    display: inline-block;
    margin: 2rem 0;
    padding: 10px 20px;
    background-color: none;
    color: var(--corHeader);
    text-decoration: none;
    border: 2px solid var(--corHeader);
    font-weight: bold;
    transition: color 0.3s ease;
}

.rodape__botao:hover {
    color: var(--corBotao);
    border: 2px solid var(--corBotao);
}